.site-wrapper {
  position: relative;
  overflow: hidden;
}

/*.lg-section {
  display:flex;
  justify-content: center;
}*/

.inner {
  padding: ($line-height * 2) $line-height;
  max-width: $website-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.inner.folio {
  margin-top: -($line-height * 3);
  padding-top: $line-height * 2;
  background: $bianco;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);
}

.inner {
  padding-top: $line-height * 2;
  padding-bottom: $line-height * 2;
}

.padding--none .inner {
  padding-top: 0;
  padding-bottom: 0;
}

.padding--small .inner {
  padding-top: $line-height * 1;
  padding-bottom: $line-height * 1;
}

.padding--large .inner {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
}

.padding--huge .inner {
  padding-top: $line-height * 4;
  padding-bottom: $line-height * 4;
}

.overlay--dark {
  position: relative;
  z-index: -1;

  .inner {
  }

  &::before {
    @include color-overlay;
    z-index: -1;
  }
}
