.site-wrapper {
  position: relative;
  overflow: hidden;
}


.inner {
  padding: ($line-height * 2) ($line-height * 2);
  max-width: $website-width;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.inner.folio {
  margin-top: -($line-height * 3); //VOGLIO FARE PIU RIENTRO - **COME** - posso fare un folio-xl con più margine, e dare una classe speciale agli inner che li precedono per aumentare il padding. OPPURE - meglio ancora - faccio la classe speciale che può solo esssere usata DOPO agli HUGE, e faccio un padding specifico per la sezione intro //TODO
  padding-top: $line-height * 2;
  background: $bianco;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);
}


.inner.padding--none {
  padding-top: 0;
  padding-bottom: 0;
}

.inner.padding--small {
  padding-top: $gutter-small;
  padding-bottom: $gutter-small;
}

.inner.padding--large {
  padding-top: $gutter-large;
  padding-bottom: $gutter-large;
}

.inner.padding--huge {
  padding-top: $gutter-huge;
  padding-bottom: $gutter-huge;
}


.inner__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 (-$line-height * 2);
}
