.site-wrapper {
  position: relative;
  overflow: hidden;
}

.lg-section {
}

.inner {
  max-width: $website-width;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  box-sizing: border-box;

  &.fluid {
    max-width: 100%;
  }

  @include breakpoint-max(xl) {
    max-width: em-bp($md);
  }

 @include breakpoint-max(lg) {
    max-width: em-bp($sm);
 }

 @include breakpoint-max(md) {
    max-width: em-bp($xs);
 }
}

.inner.folio {
  margin-top: -($line-height * 4); //VOGLIO FARE PIU RIENTRO - **COME** - posso fare un folio-xl con più margine, e dare una classe speciale agli inner che li precedono per aumentare il padding. OPPURE - meglio ancora - faccio la classe speciale che può solo esssere usata DOPO agli HUGE, e faccio un padding specifico per la sezione intro //TODO
}

.inner.folio--lg {
  margin-top: -($line-height * 6); //VOGLIO FARE PIU RIENTRO - **COME** - posso fare un folio-xl con più margine, e dare una classe speciale agli inner che li precedono per aumentare il padding. OPPURE - meglio ancora - faccio la classe speciale che può solo esssere usata DOPO agli HUGE, e faccio un padding specifico per la sezione intro //TODO
}

.inner.dropshadow {
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);
}

.inner.has-folio {
  padding-bottom: $height !important;
}
.inner.has-folio--lg {
  padding-bottom: $height-huge !important;
}


.inner {
  padding-right: $gutter;
  padding-left: $gutter;

  &.padding--none {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.padding--small {
    padding-top: $height-small;
    padding-bottom: $height-small;
  }

  &.padding--medium {
    padding-top: $height;
    padding-bottom: $height;
  }

  &.padding--large {
    padding-top: $height-large;
    padding-bottom: $height-large;
  }


  &.padding--huge {
    padding-top: $height-huge;
    padding-bottom: $height-huge;
  }

  &.gutter--none {
    padding-left: 0;
    padding-right:  0;
  }
  &.gutter--small {
    padding-left: $gutter-small;
    padding-right:  $gutter-small;
  }
  &.gutter--medium {
    padding-left: $gutter;
    padding-right:  $gutter;
  }
}


.inner__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 (-$gutter);
  position: relative;
}

.inner__row.dropshadow {
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);
}

// COLONNE COL BORDO: BISOGNA AGGIUNGERE POSITION RELATIVE ALLE COLONNE
.inner__row.has-border--bottom::after {
  content: "";
  display: inline;
  height: 2px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

.has-border--bottom::after {
  background: lighten(palette(main, heading), 50%);
}
.color-travel.has-border--bottom::after {
  background: palette(travel, body);
}
