.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.grid-item--third {
  flex-basis: 31.625%;
  flex-grow: 0;
  //width: 31.1%;
  margin-bottom: $line-height * 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 31.625%;
  width: 0;
  border-bottom: 2px solid #e28b65 !important;
  box-shadow: 2px 1px 6px rgba(50,50,50,0.2);
}

.grid-item__image-container {
  display: block;
}

.grid-item__image {
  display: block;
}

.grid-item__title-container {
  padding: ($line-height / 2) $line-height ($line-height / 2) $line-height;
  width: 100%;
}
.grid-item__description-container {
  padding: 0 $line-height 0 $line-height;
  width: 100%;

}

.grid-item__meta-container {
  padding: $line-height $line-height 0 $line-height;
  width: 100%;
}

.grid-item__meta {
  font-size: font(small, fs);
  line-height: font(small, lh);
  margin-bottom: 0;
  text-align: left;
  font-weight: bold;
}

.grid-item__title {
  font-size: font(small-h3, fs);
  line-height: font(small-h3, lh);
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.grid-item__description {
  font-size: font(small, fs);
  line-height: font(small, lh);
  margin-bottom: 0;
  text-align: left;
}

.grid-item__footer {
  text-align: left;
  padding: $line-height $line-height $line-height $line-height;
  align-self: flex-end;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-item__additional-info-container {
}

.grid-item__additional-info {
  font-size: font(small, fs);
  line-height: font(small, lh);
  margin-bottom: 0;
}

.grid-item__cta-container {
  text-align: right;
}
.grid-item__read-more {
  font-size: font(small, fs);
  line-height: font(small, lh);
  margin-bottom: 0;
  text-transform: uppercase;
  color: #e28b65 !important;
  font-weight: bold;
}

//***************************************************************************//
//                              COLORI
//**************************************************************************//

.alternate_color .grid-item--third {
  background: white;
}

.alternate_color .grid-item__title-container {
  background: white;
}
