.business__booking-container {
  @include make-row();
}


.business__booking-title {
  flex-basis: 100%;
  padding: 0 $line-height;

  .title {
    @include font(h1, $mb: scale(h1, lh));
    text-transform: uppercase;
    text-align: center;
  }
}
.business__booking-column--full {
  @include make-col-ready();
  @include make-col(12);
}
.business__booking-column {
  flex-basis: 50%;
  padding: 0 $line-height;
  box-sizing: border-box;
  position: relative;


 @include breakpoint-max(lg) {
    flex-basis: 100%;
    margin: $line-height 0;
  }

  &:first-pf-type {
  }
}

.business_booking-form {
  //min-height: 900px;

}
