//***********************************************************************************************************//
//*           TEXT
//***********************************************************************************************************//

///
// small
///


.single-lgvacation-package small {
  @include font(small, $mt: 0, $mb: 0);
  width: 100%;
  display: block;
  position: relative;
  z-index: -1;
}

///
// GALLERIA
///
#top.single-lgvacation-package .avia-gallery .avia-gallery-thumb.gallery-columns-2 a:nth-child(odd),
#top.single-lgvacation-package .gallery.gallery-columns-2 dl:nth-child(odd) {
  clear: both;
}

////
// Icon Lists
///

.lg-activities-grid h4.iconlist_title {
  font-size: scale(small, fs);
  line-height: scale(small, lh);
}

.lg-activities-grid .iconlist_content {
  font-size: scale(small, fs);
  line-height: scale(small, lh);
  margin-bottom: scale(small, lh) * 2;

  p {
    margin-bottom: 0;
  }
}





//****************************************************************************************************************//
//*           GRIGLIA PRINCIPALE
//***************************************************************************************************************//
// Override del background principale
.main_color .grid-item--third.vacation-package {
  background: mix(#c3dbe1, white, 12%);
}


.grid-item.sleep_accent {
  border-color: #69a4b5;
}

.sleep_accent .grid-item__read-more {
  color: #69a4b5;

  &:hover {
    color: darken(#69a4b5, 10%);
  }
}

.grid-item__additional-info.grid-item__price {
  font-size: scale(p, fs);
  line-height: scale(p, lh);
}
