[wpv-layout-start]
     [wpv-items-found]
     <!-- wpv-loop-start -->
<div class="avia-content-slider avia-content-grid-active avia-content-slider1 avia-content-slider-odd avia-builder-el-no-sibling">
     <div class="avia-content-slider-inner">
          <wpv-loop wrap="3">
               [wpv-item index=1]
                         <article class="slide-entry flex_column  post-entry post-entry-[wpv-post-id] slide-entry-overview slide-loop-1 slide-parity-odd  av_one_third first real-thumbnail">
                              <a href="[wpv-post-url]" data-rel="slide-1" class="slide-image" title="[wpv-post-title]"><img width="814" height="462" src="[wpv-post-featured-image size="portfolio" raw="true"]" class="attachment-portfolio wp-post-image" alt="[wpv-post-title]"></a>
							  <div class="header_color post-nature">
                                <a href="[wpv-post-url]">[wpv-post-taxonomy type="lgtypes" separator=", " format="text" show="name" order="asc"]</a>
							  </div>
                              <div class="slide-content">
                                   <header class="entry-content-header">
                                        <h3 class="slide-entry-title entry-title" itemprop="headline">
                                             <a href="[wpv-post-url]" title="[wpv-post-title]">[wpv-post-title]</a>
                                        </h3>
                                   </header>
                              </div>
                         </article>
               
                    [wpv-item index=2]
                         <article class="slide-entry flex_column  post-entry post-entry-[wpv-post-id] slide-entry-overview slide-loop-2 slide-parity-even  av_one_third  real-thumbnail">
                              <a href="[wpv-post-url]" data-rel="slide-1" class="slide-image" title=""><img width="814" height="462" src="[wpv-post-featured-image size="portfolio" raw="true"]" class="attachment-portfolio wp-post-image" alt="[wpv-post-title]"></a>
								<div class="header_color post-nature">
                                  <a href="[wpv-post-url]">[wpv-post-taxonomy type="lgtypes" separator=", " format="text" show="name" order="asc"]</a>
							  </div>
                              <div class="slide-content">
                                   <header class="entry-content-header">
                                        <h3 class="slide-entry-title entry-title" itemprop="headline">
                                             <a href="[wpv-post-url]" title="[wpv-post-title]">[wpv-post-title]</a>
                                        </h3>
                                   </header>
                              </div>
                         </article>
                                
                    [wpv-item index=3]
                         <article class="slide-entry flex_column  post-entry post-entry-[wpv-post-id] slide-entry-overview slide-loop-3 slide-parity-odd  av_one_third  real-thumbnail">
                              <a href="[wpv-post-url]" data-rel="slide-1" class="slide-image" title=""><img width="814" height="462" src="[wpv-post-featured-image size="portfolio" raw="true"]" class="attachment-portfolio wp-post-image" alt="[wpv-post-title]"></a>
							  <div class="header_color post-nature">
                                <a href="[wpv-post-url]">[wpv-post-taxonomy type="lgtypes" separator=", " format="text" show="name" order="asc"]</a>
							  </div>
                              <div class="slide-content">
                                   <header class="entry-content-header">
                                        <h3 class="slide-entry-title entry-title" itemprop="headline">
                                             <a href="[wpv-post-url]" title="[wpv-post-title]">[wpv-post-title]</a>
                                        </h3>
                                   </header>
                              </div>
                         </article>
			</wpv-loop>
     </div>  
</div>
  <!-- wpv-loop-end -->
     [/wpv-items-found]
     [wpv-no-items-found]
          [wpml-string context="wpv-views"]<strong>No items found</strong>[/wpml-string]
     [/wpv-no-items-found]
[wpv-layout-end]