.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: $line-height;

  @include breakpoint-max(sm) {
    justify-content: space-around;
  }
}

.grid-item {
  flex-grow: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.2em;
  overflow:hidden;
  box-shadow: 2px 1px 6px rgba(50,50,50,0.2);
  border-bottom: 4px solid;

}

.grid-item--third {
  flex-basis: 31.625%;
  margin-bottom: $line-height;
  flex: 0 0 31.625%;
  width: 0;
  margin-right: 2.5625%;

  &:nth-child(3n+3) {
    margin-right:0;
  }
}

.grid-item--half {
  flex-basis: 48%;
  margin-right: 0;
  margin-bottom: $line-height;


  &:nth-child(odd) {
    margin-right:4%;
  }
}



@include breakpoint-max(lg) {
  .grid-item--third {
    flex-basis: 48%;
    margin-right: 0;

    &:nth-child(even) {
      margin-right:0;
    }
    &:nth-child(odd) {
      margin-right:4%;
    }
  }
}

@include breakpoint-max(sm) {
  .grid-item--third,
  .grid-item--half {
    flex-basis: 100%;

    &:nth-child(3n+3) {
      margin-right:0;
    }
    &:nth-child(odd) {
      margin-right:0%;
    }
  }
}

.grid-item__image-container {
  display: block;
  position: relative;
}

.grid-item__image {
  display: block;
}

.grid-item__title-container {
  padding: $line-height $line-height ($line-height / 2) $line-height;
  width: 100%;
}
.grid-item__description-container {
  padding: 0 $line-height 0 $line-height;
  width: 100%;
}

.grid-item__meta-container {
  padding: $line-height * 1.5 $line-height $line-height $line-height;
  width: 100%;
  position: absolute;
  bottom:0;
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.0) 100%);
  color: #fff;
}

.grid-item__meta {
  font-size: scale(small, fs);
  line-height: scale(small, lh);
  margin-bottom: 0;
  text-align: left;
  text-transform: uppercase;
 //font-weight: bold;
  letter-spacing: 0;
}

.grid-item__title {
  font-size: scale(small-h3, fs);
  line-height: scale(small-h3, lh);
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.grid-item__description {
  font-size: scale(small, fs);
  line-height: scale(small, lh);
  margin-bottom: 0;
  text-align: left;
}

.grid-item__footer {
  text-align: left;
  padding: $line-height $line-height bspad(4, p) $line-height;
  align-self: flex-end;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-item__additional-info-container {
}

.grid-item__additional-info {
  font-size: scale(small, fs);
  line-height: scale(small, lh);
  margin-bottom: 0;
}

.grid-item__cta-container {
  text-align: right;
}
.grid-item__read-more {
  font-size: scale(small, fs);
  line-height: scale(small, lh);
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}




//***************************************************************************//
//                              COLORI
//**************************************************************************//

.alternate_color .grid-item {
  background: white;
}

.main_color .grid-item {
  background: #f3f3f3;
}


.grid-item.eat_accent {
//  border-bottom: 2px solid #e28b65;
  border-color: #e28b65;
}

.eat_accent .grid-item__read-more {
  color: #e28b65;

  &:hover {
    color: darken(#e28b65, 10%);
  }
}

.grid-item.event {
  border-color: mix(palette(header, bg), white, 75%);
}
