#top #header .avia_mega_div .lg-special-menu a {
  font-size: 1em;
  line-height: $line-height;
  color: $grigio-chiaro-2;
  padding: ($line-height / 4) 0 !important;

  &:hover {
    font-weight: normal !important;
  }

  .avia-bullet {
    display: none;
  }
}

/******
**** HEADER TRASPARENTE
**********************************/


.header_color.av_header_transparency .main_menu ul:first-child>li>a:hover {
  background: transparent !important;
}


.header_color.av_header_transparency .main_menu ul:first-child>li>a:hover {
  background: transparent;
}

.header_color.av_header_transparency {
  .main_menu .menu ul li a,
  .main_menu ul:first-child>li.current-menu-ancestor>a,
  .main_menu ul:first-child>li.current-menu-item>a,
  .main_menu ul:first-child>li.current_page_ancestor>a,
  .main_menu ul:first-child>li.current_page_item>a {
    background: transparent;   
  }
}


@include breakpoint-max(md) {

  .responsive #top .av_header_transparency #header_meta {
    background: #ce484f;
    color: #fff;
    border-bottom: 0;
  }

  .responsive #top .av_header_transparency #header_main {
    background: #e9e3cd;
  }
}

.av_header_transparency #advanced_menu_toggle {
  background-color: #f4f1e8;
}

/******************************
** MOBILE NAV
*******************************/
.html_av-overlay-side.av-burger-overlay-active-delayed .av-burger-overlay-scroll {
  background: $beige;
}

@media only screen and (max-width: 767px) {
  .responsive #top #wrap_all .main_menu {
    right: $line-height;
  }
}
