////
// Icon Lists
///

.lg-activities-grid h4.iconlist_title {
  font-size: font(small, fs);
  line-height: font(small, lh);
}

.lg-activities-grid .iconlist_content {
  font-size: font(small, fs);
  line-height: font(small, lh);
  margin-bottom: font(small, lh) * 2;

  p {
    margin-bottom: 0;
  }
}


//****************************************************************************************************************//
//*           GRIGLIA PRINCIPALE
//***************************************************************************************************************//
// Override del background principale
.main_color .grid-item--third.vacation-package {
  background: mix(#c3dbe1, white, 12%);
}


.grid-item__container.sleep_accent {
  border-color: palette(sleep, washed);
}

.sleep_accent .grid-item__read-more {
  color: palette(sleep, bg);

  &:hover {
    color: darken(palette(sleep, bg), 10%);
  }
}

.grid-item__additional-info.grid-item__price {
  font-size: font(p, fs);
  line-height: font(p, lh);
}
