.meta__container {
  padding: 0 0 $line-height / 2 0;
  border-bottom: 2px solid mix($nero, white, 20%);
  flex-basis: 100%;
  span {
    font-weight: family(sans, bold);
  }
  p {
    font-family: family(sans, fm);
    text-transform: uppercase;
  }
}

.meta {
  @include font(p, serif);
  text-transform: uppercase;
}

.content_box {
  display: block;
  width: 100%;
//  padding-top: $height;
//  padding-bottom: $height;
}

.gutter-overflow {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

/*.first-paragraph--big p:first-of-type {
  font-size: font(h3, fs);
  line-height: font(h3, lh);
  @include margin(h3);
  @include deco(p);
  font-style: italic;
}*/
