.sb__title {
  color: palette(wine, body);
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0;
}

.sb__subtitle {
  color: palette(wine, body);
  margin-top: 0;
}

.meta-info__container--1-3 {
  flex-basis: 33.333%;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 $gutter-small;
  box-sizing: border-box;
  border-right: 1px solid;
  width: 0;

  &:last-child {
    border-right: 0;
  }
}

.sb__meta-info {
  text-align: center;
  @include font(h3, $mt:0, $mb:0);

  @include breakpoint-max(sm) {
    @include m-size(h3, 0, 0);
  }

  &.small {
    @include font(p, $fm: sans, $mb: 0);
    text-align: left;
  }

  &.big {
    @include font(h1, serif, normal, 0, 0);
    font-style: italic;
  }
}

.sb__excerpt {
  @include font(h3, $fm: serif, $wt: normal, $mb: 0)
  max-width: 770px;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
}

.sb__service-title {
  text-align: center;
}

.sb__services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

.sb__service {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  @include font(small);
  text-align: center;
  opacity: 0.4;
  position: relative;
  &:last-of-type {
    margin-right: auto;
  }

  &.sb__service--selected {
    color: palette(main, button-bg);
    font-weight: bold;
    opacity: 1;
  }
}

.sb-service__image {
  max-width: 50px;
  margin: 0 auto;
}

/* Tooltip text */
.sb__service .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  border-radius: 6px;
  height: 100%;
  line-height: 1.5em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 999;
  top: -40%;
  left: 0;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.sb__service .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.sb__service:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


//***************************************************************************************************//
//   GALLERY
//**************************************************************************************************//
.sb__image-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -$line-height / 2;
  margin-right: -$line-height / 2;
  margin-top: $line-height;
}

.sb__image-container {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0 $line-height / 2;
  margin-bottom: $line-height;

  @at-root .columns--six #{&} {
    flex-basis: 16.66666666%;
  }

  &:last-of-type {
    margin-right: auto;
  }
}
