.sb__service-title {
  text-align: center;
}

.sb__services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}

.sb__service {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  font-family: family(ffh, family);
  font-size: font(small, fs);
  line-height: font(small, lh);
  margin-bottom: font(small, lh);
  text-align: center;
  opacity: 0.6;
  position: relative;
  &:last-of-type {
    margin-right: auto;
  }

  &.sb__service--selected {
    color: palette(main, button-bg);
    font-weight: bold;
    opacity: 1;
  }
}

.sb-service__image {
  max-width: 50px;
  margin: 0 auto;
}

/* Tooltip text */
.sb__service .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 1em;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top:50%;
    left: 50%;
    left: 0;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.sb__service .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.sb__service:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


//***************************************************************************************************//
//   GALLERY
//**************************************************************************************************//
.sb__image-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -$line-height / 2;
  margin-right: -$line-height / 2;
  margin-top: $line-height;
}

.sb__image-container {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0 $line-height / 2;
  margin-bottom: $line-height;
  &:last-of-type {
    margin-right: auto;
  }
//  width: 100%;
}
