//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER    TIPOGRAFIA
//*                          DIMENSIONI & FACE
//*                                                                          *//
//*==========================================================================*//

///
// BASE DEL BODY
///
  $base: 16;
  $font-size: 1.25em; //TODO
  $line-height: 1.5em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 2em; //TODO


///
// Families
///
  $font-family: 'Open Sans', sans; //TODO
  $font-family-heading: $font-family; //TODO
  $font-family-special: $font-family; //TODO
  $font-family-button: $font-family;


///
// WEIGHTS per Families
///
$weights: (
  ff: (
    family: $font-family,
    u-thin: 400,
    thin: 400,
    light: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  ffh: (
    family: $font-family-heading,
    u-thin: 300,
    thin: 300,
    light: 300,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),

  ffs: (
    family: $font-family-special,
    u-thin: 300,
    thin: 300,
    light: 300,
    normal: 400,
    bold: 400,
    bolder: 400,
  ),
);

////
// Dimensioni & caratteristiche dei font principali
////
  $fonts: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
      fm: family(ff, family),
      wt: family(ff, normal),
    ),

    h1: (
      fs: 4.100000000em,
      lh: 1.097560976em,
      mt: 1.09756098em,
      mb: 0.36585366em,
      fm: family(ffh, family),
      wt: family(ffh, thin),
    ),

    h2: (
      fs: 2.550000000em,
      lh: 1.176470588em,
      mt: 1.17647059em,
      mb: 0.58823529em,
      fm: family(ffh, family),
      wt: family(ffh, thin),
    ),

    h3: (
      fs: 1.600000000em,
      lh: 1.875000000em,
      mt: 0.9375em,
      mb: 0.9375em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h4: (
      fs: 1em,
      lh: 1.5em,
      mt: 1.5em,
      mb: 1.5em,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    h5: (
      fs: 0.75em,
      lh: 2em,
      mt: 2em,
      mb: 0em,
      fm: family(ffh, family),
      wt: family(ffh, light),
    ),

    small: (
      fs: 0.75em,
      lh: 2em,
      mt: 2em,
      mb: 0,
      fm: family(ffh, family),
      wt: family(ffh, light),
    ),

    small-h3: (
      fs: 1.2em,
      lh: 1.25em,
      mt: 1.25em,
      mb: 0,
      fm: family(ffh, family),
      wt: family(ffh, normal),
    ),

    blockquote: (
      fs: 1.263157894736842em,
      lh: 1.583333333333333em,
      mt: 1.583333333333333em,
      mb: 1.583333333333333em,
      fm: family(ffh, family),
      wt: family(ffh, light),
  ),
);


////
// DETTAGLI
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(ff, family),
    wt: family(ff, normal),
  ),

  label: (
    fm: family(ff, family),
    wt: family(ff, normal),
  ),

  desc: (
    fm: family(ff, family),
    wt: family(ff, normal),
  ),
);
