/*****************LISTATI PRODOTTI
===========================================*/

/*LAYOUT*/

div .product-sorting {
  padding-bottom:0;
  margin-bottom:60px;
}

div .product-sorting ul {
  font-size:0.65em;
  margin-right:30px;
}

div .product-sorting ul ul {
  padding-left: 20px;
}

.main_color .sort-param > li > span {
  height:30px;
  border:0;
}

div .product-sorting ul li ul {
  width:270px;
  margin-top: -5px;
}

#top .main_color .sort-param a {
  color: #989898;
  border:0;
}

#top .main_color .sort-param a:hover {
  color: #666;
  border-bottom:none;
}

#top .main_color .sort-param .current-param a {
  color: #ce484f;
}

div .product-sorting li {
  margin:0 0 0 0;
  padding:0;
}

div .product-sorting ul.sort-param-order {
  width:270px;
}

div .product-sorting ul.sort-param-sort {
  width:70px;
}

.sort-param > li > a {
  width:70px;
  height: 30px;
}

div ul.sort-param li ul li {
  font-size: 1.5em;
}

div .product-sorting ul.sort-param-count {
  width:270px;
}

.woocommerce.columns-4 .products .product {
  margin: 0 3.6% 60px 0;
  padding: 0;
  width: 22.3%;
}

div .columns-1 .products .product, /*pagina vino rock - per shortcode ad una colonna*/
div .products .product { /*pagina vino rock - per shortcode ad una colonna*/
    margin: 0 0 60px 0;
    width: 100%;
}

div .columns-3 .products .product {
  width: 30.93%;
  margin: 0 3.6% 60px 0;
}

.shop_columns_3 .products .product {
  margin: 0 3.44% 60px 0;
  width: 31.035%;
}

div div.woocommerce.columns-2 .products .product {
  width: 48.282%;
  margin: 0 3.44% 2.564% 0;
}

#top .product_column_4 .products .product {
  margin: 0 3.6% 60px 0;
  width: 22.3%;
}

ul.products {
  margin:0;
}

#top .onsale {
  top: -60px;
}

div .products .product a {
  border-bottom:none;
}

div .products .product a:hover {
  border-bottom:none;
}

div .products .product .thumbnail_container img {
  border-top:2px solid #f3f3f3;
  border-right:2px solid #f3f3f3;
  border-left:2px solid #f3f3f3;
  border-bottom:2px solid #f3f3f3;
}

#top div .products .product .inner_product_header {
  border-top:0;
  padding: 0px 15px 0 15px;
  text-align: center;
}

div .products .product .inner_product_header h3 {
  padding-top: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 0;
 /* border-bottom: #f3f3f3 2px solid;*/
}

div .shop_columns_3 .products .product .inner_product_header h3 {
  font-size: 1em;
 line-height: 1.5em;
margin-top: 0.75em;
margin-bottom: 0.75em;
}

.inner_product_header .avia-arrow {
display:none;
}

#top div .products .product .inner_product_header span.price span.amount {
  font-weight: 300;
  font-size:1.411em;
}

#top div .products .product .inner_product_header ins span.amount {
  color: /*#ce484f*/ #4CAF50;
}

#top div .products .product .avia_cart_buttons {
    height: 120px;
  background: transparent;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 30px;
  opacity: 0.8;
  text-align: center;
}

.avia_cart_buttons {
  border-top-width: 0;
}

#top div .products .product .avia_cart_buttons:hover {
  opacity: 1;
}

#top #wrap_all .avia_cart_buttons .button, #top .avia_cart_buttons .button {
width:170px;
float:none;
border-bottom-style:solid;
}

#top .avia_cart_buttons a.button.show_details_button {
      margin-top: 0px;
      border-width: 0px;
      background:transparent;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
      }

span.button-mini-delimiter {
  display: none;
}
