[wpv-layout-start]
	[wpv-items-found]
<div class="avia-content-slider avia-content-grid-active avia-content-slider1 avia-content-slider-odd avia-builder-el-no-sibling lg-event-grid">
     <div class="avia-content-slider-inner">
	<!-- wpv-loop-start -->
          <wpv-loop wrap="3">
               [wpv-item index=1]
 <article class="slide-entry flex_column lg-event post-entry post-entry-[wpv-post-id] slide-entry-overview slide-loop-1 slide-parity-odd  av_one_third first real-thumbnail" itemscope="itemscope" itemtype="http://schema.org/Event">
          [wpv-post-body view_template="Evento - Griglia"]
            </article>
            [wpv-item index=2]
 <article class="slide-entry flex_column lg-event post-entry post-entry-[wpv-post-id] slide-entry-overview slide-loop-2 slide-parity-even  av_one_third real-thumbnail" itemscope="itemscope" itemtype="http://schema.org/Event">
             [wpv-post-body view_template="Evento - Griglia"]
            </article>
                        [wpv-item index=3]
 <article class="slide-entry flex_column lg-event post-entry post-entry-[wpv-post-id] slide-entry-overview slide-loop-3 slide-parity-odd  av_one_third real-thumbnail" itemscope="itemscope" itemtype="http://schema.org/Event">
             [wpv-post-body view_template="Evento - Griglia"]
            </article>
		</wpv-loop>

	<!-- wpv-loop-end -->
  </div>
</div>
	[/wpv-items-found]
	[wpv-no-items-found]
		<strong>[wpml-string context="wpv-views"]No items found[/wpml-string]</strong>
	[/wpv-no-items-found]
[wpv-pagination]
[wpv-pagenavi]
[/wpv-pagination]
[wpv-layout-end]
