.button {
  @extend %button;
}


.button--size-small {
  @include button(small, 2, half);
  text-transform: uppercase;
  font-weight: bold;
}

div .alternate_color .button--color-primary {
  background: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
  color: #e28b65;
  box-shadow: none;
}
