/**********************
 SLEEP color
 ***************************/
.sleep_color {
  background-color: #69a4b5;

}

.sleep_color.lg--bg {
  background-image: url(../images/lgbackgrounds/stay.png);
}

.sleep_color p,
.sleep_color a,
.sleep_color h1,
.sleep_color h2,
.sleep_color h3,
.sleep_color h4,
.sleep_color h5 {
  color: #fff;
}

.sleep_colo--light {
  background-color: #c3dbe1 /* rgba(255,255,255, 0.6) */;
}

.sleep_color--light p,
.sleep_color--light a,
.sleep_color--light h1,
.sleep_color--light h2,
.sleep_color--light h3,
.sleep_color--light h4,
.sleep_color--light h5 {
  color: #333;
}

/**********************
  EAT color
***************************/

.eat_color {
  background-color: #e28b65;
}

.eat_color.lg--bg {
  background-image: url(../images/lgbackgrounds/eat.png);
}

.eat_color p,
.eat_color a,
.eat_color h1,
.eat_color h2,
.eat_color h3,
.eat_color h4,
.eat_color h5 {
  color: #fff;
}

.eat_color--light {
  background-color: #f3d1c1 /* rgba(255,255,255, 0.6) */;
}

.eat_color--light p,
.eat_color--light a,
.eat_color--light h1,
.eat_color--light h2,
.eat_color--light h3,
.eat_color--light h4,
.eat_color--light h5 {
  color: #333;
}


/*.eat_color.lg-arrow-right::after {
  border-top-color: #e28b65;
  border-bottom-color: #e28b65;
  border-right-color: #e28b65;
  border-left-color: #e28b65;
}*/

/**********************
 WINE color
 ***************************/

.wine_color {
  background-color: #ba5b90;
}

.wine_color.lg--bg {
  background-image: url(../images/lgbackgrounds/activities.png);
}

.wine_color.lg-arrow-down::after {
  border-top-color: #ba5b90;
}

.wine_color.washed {
  background-color: #c87ca6;
}

.wine_color.washed.lg-arrow-down::after {
  border-top-color: #c87ca6;
}

.wine_color p,
.wine_color a,
.wine_color h1,
.wine_color h2,
.wine_color h3,
.wine_color h4,
.wine_color h5 {
  color: #fff;
}


.wine_color .avia-icon-list .iconlist_icon {
  background: #fff;
}

.wine_color span.iconlist-char {
  color: #ba5b90;
}

/**********************
 TRAVEL color
 ***************************/
.travel_color {
  background-color: #4CAF50;
}

.travel_color.lg-arrow-down::after {
  border-top-color: #4CAF50;
}

.travel_color.washed {
  background-color: #81C784;
}

.travel_color.washed.lg-arrow-down::after {
  border-top-color: #81C784;
}

.travel_color p,
.travel_color a,
.travel_color a:hover,
.travel_color h1,
.travel_color h2,
.travel_color h3,
.travel_color h4,
.travel_color h5 {
  color: #fff;
}


.travel_color .avia-icon-list .iconlist_icon {
  background: #fff;
}

.travel_color span.iconlist-char {
  color: #4CAF50;
}
