img {
  max-width: 100%;
  height: auto;
  display:block;
}

img.aligncenter {
}

.wp-caption {
  margin-bottom: $line-height;
}

.wp-caption-text{
  @include font(small);
  padding: font(small, lh) / 2 0;
  margin-top: 0;
  text-align: center;
  background: palette(alternate, light);
}
