//*==========================================================================*//
//*                                                                          *//
//*                   VARIABILI PER IL LAYOUT
//*              descrizione - descrizione - descrizione
//*                                                                          *//
//*==========================================================================*//

$width: 1170px;
$website-width: em($width); //TODO

$gutter--small: $line-height;
$gutter: $line-height;
$gutter--large: $line-height * 2;
$gutter--huge: $line-height * 8;

$height--small: $line-height;
$height: $line-height * 3;
$height--large: $line-height * 5;
$height--huge: $line-height * 8;

//***********************************************************************//
//            BOOTSTRAP CONFIG
//***********************************************************************//

///
// Enable Bootstrap Flex
///
$enable-flex: true;

///
// Changes bootstrap gutter with our gutter
///
$grid-gutter-width-base: $gutter;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $gutter--large,
  xl: $gutter--large,
  uxl: $gutter--large
);

//***********************************************************************//
//             LARGHEZZA LAYOUT & BREAKPOINT MEDIA QUERIES
//***********************************************************************//
$uxl: 1980px;
$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$xs: 480px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 990px,
  xl: 1200px,
  uxl: 1980px
);

$container-max-widths: (
  sm: 660px, //era 540
  md: 720px,
  lg: 960px,
  xl: 1140px
);
